
@{
    ViewBag.Title = "Search AI";
}
<section class="mt-5">
    <div class="container py-5">

        <div class="row d-flex justify-content-center">
            <div class="col-md-7">

                <div class="card" id="chat1" style="border-radius: 15px;">
                    <div class="card-header d-flex justify-content-center align-items-center p-3 bg-dark text-white border-bottom-0"
                         style="border-top-left-radius: 15px; border-top-right-radius: 15px;">
                       
                        <p class="mb-0 fw-bold">Jarvis AI</p>
                     
                    </div>
                    <div class="card-body">
                        <div class="d-flex flex-row justify-content-start mb-4">

                            <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava1-bg.webp" alt="avatar 1"
                                 style="width: 45px; height: 100%;">
                            
                            <div class=" flex-col">
                            <div class="p-3 ms-3" style="border-radius: 15px; background-color: #f5f6f7;">
                                <p class="small mb-0">Ciao sono Jarvis, come posso aiutarti?</p>
                            </div>
                                <p class="d-flex justify-content-start ms-3 small text-muted">@DateTime.Now.ToShortTimeString()</p>
                            </div>
                        </div>


                            
                            



                        <div class="d-flex flex-row justify-content-end mb-4 d-none" id="prompt-text">
                            <div class="flex-col">

                                <div class="p-3 me-3 border" id="ptext" style="border-radius: 15px;">

                                </div>
                                    <p class="d-flex justify-content-end align-items-end me-3 small text-muted">@DateTime.Now.ToShortTimeString()</p>

                            </div>
                            <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava6-bg.webp" alt="avatar 1"
                                 style="width: 45px; height: 100%;">
                        </div>

                        <div class="spinner-grow spinner-grow-sm d-none mb-5" id="spinner" role="status">
                            <span class="sr-only">Loading...</span>
                        </div>

                        <div class="d-flex flex-row justify-content-start mb-4 d-none" id="res">
                            <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava1-bg.webp" alt="avatar 1"
                                 style="width: 45px; height: 100%;">
                            <div class=" flex-col">
                                <div class="p-3 ms-3" style="border-radius: 15px; background-color:#f5f6f7">
                                   @*risposta di chatgpt*@

                                    <p class="small mb-0" id="text"></p>


                                    
                                    <div id="products">
                                    </div>
                                </div>
                                <p class="d-flex align-items-start ms-3 small text-muted">@DateTime.Now.ToShortTimeString()</p>

                            </div>

                            </div>


                         
                                <div class="d-flex align-items-baseline justify-between my-5 pt-5">

                                    <div class="d-flex align-items-center  w-100 ">
                                        <input autofocus type="text" class="form-control rounded-pill " name="prompt" value="" placeholder="Fammi una domanda" id="prompt" rows="4" />
                                    <button class="btn  rounded-pill ms-3" id="invia" type="button">
                                        <i class="fa-solid fa-play" id="invia"></i>
                                    </button>

                                    </div>
                                </div>
                      
                        </div>
                </div>

            </div>
        </div>

    </div>
</section>



@section Scripts
{
    @Scripts.Render("~/bundles/jqueryval")

    @* prendo il valore dell'input per passarlo al prompt, una volta effettuata la chiamata restituisco la card della ricerca *@
<script type="text/javascript">
    $(document).ready(function () {
        console.log("ciao")
        //prendo il valore del prompt (textarea) 
        $("#invia").click(function () {
            var prompt = $("#prompt").val()
            console.log(prompt)

            //aggiungo il prompt come domanda in chat
            $("#ptext").html(prompt)
            //rimuovo dnone alla chat e aggiungo d block per farla apparire con il prompt
            $("#prompt-text").removeClass("d-none")
            $("#prompt-text").addClass("d-block")



            //faccio apparire lo spinner
            $("#spinner").removeClass("d-none")
            $("#spinner").addClass("d-block")

            prompt=prompt.toLowerCase()
            console.log("lower",prompt)
            if (prompt.includes("cocktail") || prompt.includes("drink") || prompt.includes("bevanda"))
            {


                $.ajax({
                    method: 'GET',
                    url: "SearchGptAsync",
                    data: { prompt: prompt },
                    success: function (data) {
                        $("#prompt").val("")
                        console.log("Chiamata AJAX riuscita");
                        console.log(data)
                        //all'arrivo della risposta faccio sparire lo spinner
                        $("#spinner").removeClass("d-block")
                        $("#spinner").addClass("d-none")

                        //aggiungo la risposta in chat
                        $("#text").html(data.res);
                        //stesso procedimento per far appartire la risposta
                        $("#res").removeClass("d-none")
                        $("#res").addClass("d-block")

                       //svuoto il prompt
                        $("#prompt").html(" ")
                        //faccio apparire i prodotti della ricerca
                        $.each(data, function (i, v) {

                            var productList = '<div class="container">';

                            $.each(data.prodotti, function (index, product) {
                                productList += ` <div class="col mb-5 mb-lg-0 d-flex flex-column justify-content-between">
       <div>

           <div class="bg-image ripple hover-zoom shadow-5 rounded-5 mb-3" data-mdb-ripple-color="light">
               <img src="../Content/img/${product.FotoCopertina}" alt="Mug 1" class="w-100" style="height: 350px;object-fit: cover;"/>
               <a href="/Prodotti/DettagliProdotto?id=${product.IdProdotti}">
                   <div class="mask"></div>
               </a>
           </div>
           <div class="d-flex justify-content-between">
               <h6>${product.NomeProdotto}</h6>
               <h6>${product.Prezzo} €</h6>
           </div>
       </div>

       <div>


           <div class="d-flex w-100 justify-content-center mt-3 mb-5">


                   <a href="/Ordini/AggiungiAlCarrello?id=${product.IdProdotti}" class="btn btn-dark link-light">Aggiungi al carrello <i class=" ms-2 fas fa-shopping-bag"></i></a>


               </div>
           </div>
       </div>`
                            });
                            productList += '</div>';

                            $('#products').html(productList);
                        })

                    }
                })

            } else {
                
                var err=""
                if (prompt == "") {
                    err = "Sono qui per te, fammi una domanda"
                    $("#text").html(err)
                } else {
                    err = "Mi dispiace, ma per tutte le altre domande potresti rivolgerti a chat gpt. Se vuoi posso aiutarti nella scelta dei cocktail che preferisci"
                    $("#text").html(err)

                }
                

                console.log("else", prompt)
                $("#prompt").val("")
                //all'arrivo della risposta faccio sparire lo spinner
                $("#spinner").removeClass("d-block")
                $("#spinner").addClass("d-none")

                //stesso procedimento per far appartire la risposta
                $("#res").removeClass("d-none")
                $("#res").addClass("d-block")
            }
            })





        })




</script>



} 