
@{
    ViewBag.Title = "ConfermaOrdine";
}

<div class="container mt-5 pt-5">
    <div class="d-flex justify-content-center align-items-center mt-5">
        <h5>Grazie per il tuo acquisto</h5>
    </div>
</div>

